.App .container {
  max-width: 1000px;
  padding: 10px 50px;
}

.App h1 {
  font-size: 32px;
  margin: 30px;
  text-align: center;
}

.App footer {
  font-size: 11px;
  margin: 20px;
  text-align: center;
}
